@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&family=Roboto:wght@400;700&display=swap');

/*  font-family: 'Gowun Batang', serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif; */

body, html{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.box-sinema{
    margin: 86px auto 135px;
    width: fit-content; 
    padding: 40px 28px 30px;
    text-align: center;
    background-color: $gray6;
    box-sizing: border-box;
    border: 1px solid $gray4;
    border-radius: 10px;
}

.box-title{
    font-size: 24px;
    font-weight: 700;
    &::after{
        content: " ";
        display: block;
        width: 650px;
        margin: 37px auto 28px;
        border-bottom: 2px solid $gray4;
    }
}

.main-nav{
    li{
        display: inline-block;
        .nav-list{
            font-size: 16px;
            font-weight: 500;
            margin: 0 30px;
            text-decoration: none;
        }
    }
}

.color-gray{
    color: $gray3;
}

.color-black{
        color: black;
}

.box-movielist{
    text-align: left ;
    background-color: white;
    border-radius: 15px;
    padding: 25px 26px;
    margin-top: 28px;
    outline : 1px solid $gray4;
    box-sizing: border-box;
    .card-movielist{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        .card-movie{
            width: 220px;
            padding: 19px 20px 0;
            background-color: white;
            box-shadow: (0px 0px 5px rgba(0, 0, 0, 0.3));
            box-sizing: border-box;
            border: 1px solid $gray4;
            border-radius: 10px ;
            overflow: hidden;
            .img-movie{
                height: 250px;
                border: 1px solid $gray4;
                border-radius: 10px;
                box-sizing: border-box;
                box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .title-movie{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                font-weight: 900;
                font-size: 16px;
                margin: 11px 0 12px;
            }
            .content-moviedetails{
                position: relative;
                margin-bottom: 18px;
                li{
                    font-size: 13px;
                    margin: 10px auto;
                    [class^="title-"]{
                        color: $gray3; 
                    }
                }
                .container-moviestar{
                    position: absolute;
                    right: 0;
                    top: -14px ;
                    .content-moviestar{
                        &::before{
                            display: inline-block;
                            content: '';
                            background-image: url(../images/Star\ 1.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position-y: 150%;
                            width: 14px;
                            height: 14px;
                            margin-right: 4px;
                        }
                    }
                }
                
            }
            [class^="btn-"]{
                display: block;
                margin: 0 -21px -5px;
                background-color: $gray6;
                border: 1px solid $gray4;
                text-align: center;
                height: 41px;
                line-height: 280%;
                font-size: 14px;
                text-decoration: none;
                color: black;
                font-weight: 500;
            }
            .btn-book{
                float: left;
                width: 107px;
            }
            .btn-trailer{
                float: right;
                width: 113px;
                &::before{
                    display: inline-block;
                    position: relative;
                    content : '';
                    background-image: url(../images/영화목록페이지/아이콘_재생.png);
                    width: 14px;
                    height: 14px;
                    margin-right: 3px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    top:1px;
                }
            }
        }
    }
}

.section-footer{
    margin: 0;
    padding: 53px 10px 38px;
    background-color: $gray6;
    .footer-top{
        margin: 0 auto;
        max-width: 1189px;
        h2{
            display: inline-block;
            font-size: 22px;
            font-weight: 700;
        }
        ul{
            float: right;
        }
        li{
            float: left;
        }
        .twitter, .instagram, .facebook{
            float: left;
            width: 20px;
            height: 20px;
            background-image: url(../images/SNS_아이콘/sns_icon.png);
            background-repeat: no-repeat;
            background-size: 200%;
            margin-left: 25px;
            background-position-x: -10px;
        }
        .twitter{
            background-position-y: -10px;
        }
        .instagram{
            background-position-y: -50px;
        }
        .facebook{
            background-position-x: -14px;
            background-position-y: -90px;
        }
    }
    .section-line{
        margin: 42px auto 36px;
        max-width: 1189px;
        border-top: 1px solid $input-box;
    }
    .footer-bottom{
        margin: 0 auto;
        max-width: 1189px;
        .details-footer{
            margin: 0 auto;
            max-width: 1189px;
            color: $gray2;
            font-size: 14px; 
            li{
                display: inline-block;
                span{
                    word-break: keep-all;
                }
            }
            .txt-companyname, [class^="title-"]{
                font-weight: 700;
            }
            .txt-companyname, .txt-ownername, .txt-businessnumber, .txt-industry{
                &::after{
                    display: inline-block;
                    position: relative;
                    content:'';
                    border-left: 1px solid $gray2;
                    height: 16px;
                    top: 3px;
                    margin: 0 7px;
                }
            }
        }
        .txt-copyright{
            float: right;
            font-weight: 700 ;
            margin-top: -17px;
        }
    }
}


@media screen and (max-width:1080px) {
    .box-movielist{
        .card-movielist{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width:591px) and (max-width:840px) {
    .box-title{
        &::after{
            content: " ";
            display: block;
            width: 500px;
            margin: 37px auto 28px;
            border-bottom: 2px solid $gray4;
        }
    }
    .box-movielist{
        .card-movielist{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section-footer{
        .footer-bottom{
            overflow: hidden;
            .details-footer{
                max-width: 400px;
                float: left;
            }
            .txt-copyright{
                margin-top: 0px;
            }
        }
    }
}

@media screen and (max-width:590px) {
    body, html{
        width: min-content;
        height: min-content;
    }

    .box-title{
        &::after{
            content: " ";
            display: block;
            width: 500px;
            margin: 37px auto 28px;
            border-bottom: 2px solid $gray4;
        }
    }

    .box-movielist{
        .card-movielist{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section-footer{
        .footer-bottom{
            overflow: hidden;
            .details-footer{
                max-width: 400px;
                float: left;
            }
            .txt-copyright{
                margin-top: 0px;
            }
        }
    }
}