@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&family=Roboto:wght@400;700&display=swap');

/*  font-family: 'Gowun Batang', serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif; */



body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.box-sinema{
    margin: 86px auto 135px;
    width: 1060px;
    height: fit-content;
    padding: 40px 28px 30px;
    text-align: center;
    background-color: $gray6;
    box-sizing: border-box;
    border: 1px solid $gray4;
    border-radius: 10px;
}

.box-title{
    font-size: 24px;
    font-weight: 700;
    &::after{
        content: " ";
        display: block;
        width: 650px;
        margin: 37px auto 28px;
        border-bottom: 2px solid $gray4;
    }
}

.main-nav{
    .nav-list{
        display: inline-block;
        color: $gray3;
        font-size: 16px;
        font-weight: 500;
        margin: 0 30px;
    }
}

.box-movielist{
    text-align: left ;
    background-color: white;
    border-radius: 15px;
    width: 1003px;
    padding: 25px 26px;
    margin-top: 28px;
    outline : 1px solid $gray4;
    box-sizing: border-box;
    .card-movielist{
        .card-movie{
            width: 220px;
            padding: 19px 20px 0;
            background-color: white;
            box-sizing: border-box;
            border: 1px solid $gray4;
            border-radius: 10px ;
            overflow: hidden;
            .img-movie{
                width: 180px;
                border: 1px solid $gray4;
                border-radius: 10px;
                box-sizing: border-box;
                box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .title-movie{
                display: block;
                font-weight: 900;
                text-overflow: ellipsis;
                font-size: 16px;
                margin: 11px 0 12px;
            }
            .content-moviedetails{
                position: relative;
                margin-bottom: 18px;
                li{
                    font-size: 13px;
                    margin: 10px auto;
                    [class^="title-"]{
                        color: $gray3; 
                    }
                }
                .container-moviestar{
                    position: absolute;
                    right: 0;
                    top: -14px ;
                    .content-moviestar{
                        &::before{
                            display: inline-block;
                            content: '';
                            background-image: url(../images/Star\ 1.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position-y: 150%;
                            width: 14px;
                            height: 14px;
                            margin-right: 4px;
                        }
                    }
                }
                
            }
            [class^="btn-"]{
                display: block;
                margin: 0 -21px -5px;
                background-color: $gray6;
                border: 1px solid $gray4;
                text-align: center;
                height: 41px;
                line-height: 280%;
                font-size: 14px;
                text-decoration: none;
                color: black;
                font-weight: 500;
            }
            .btn-book{
                float: left;
                width: 107px;
            }
            .btn-trailer{
                float: right;
                width: 113px;
            }
        }
    }
}

.section-footer{
    padding: 53px 0 38px;
    background-color: $gray6;  
    section{
        margin: 0 auto;
        width: 1189px;
        h2{
            font-size: 22px;
            font-weight: 700;
        }
    }
    span{
        
        display: inline-block;
    }
    .section-line{
        margin: 42px auto 36px;
        width: 1189px;
        border-top: 1px solid $input-box;
    }
}

.color-black{
    color: black;
}