/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&family=Roboto:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  font-family: 'Gowun Batang', serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif; */
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.box-sinema {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1060px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 28px 30px;
  text-align: center;
  background-color: #F2F2F2;
  box-sizing: border-box;
  border-radius: 10px;
}

.box-title {
  font-size: 24px;
  font-weight: 700;
}
.box-title::after {
  content: " ";
  display: block;
  width: 650px;
  margin: 37px auto 28px;
  border-bottom: 2px solid #BDBDBD;
}

.main-nav .nav-list {
  display: inline-block;
}

.box-movielist {
  text-align: left;
  background-color: white;
  border-radius: 15px;
  width: 1003px;
  padding: 25px 26px;
  outline: 1px solid #BDBDBD;
  box-sizing: border-box;
}
.box-movielist .card-movielist .card-movie {
  width: 220px;
  padding: 19px 20px 0;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}
.box-movielist .card-movielist .card-movie .img-movie {
  width: 180px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-movielist .card-movielist .card-movie .title-movie {
  display: block;
  font-weight: 900;
  text-overflow: ellipsis;
  font-size: 16px;
  margin: 11px 0 12px;
}
.box-movielist .card-movielist .card-movie .content-moviedetails {
  position: relative;
}
.box-movielist .card-movielist .card-movie .content-moviedetails div {
  font-size: 13px;
  margin: 5px auto;
}
.box-movielist .card-movielist .card-movie .content-moviedetails div [class^=title-] {
  color: #828282;
}
.box-movielist .card-movielist .card-movie .content-moviedetails .container-moviestar {
  position: absolute;
  right: 0;
  top: 0;
}/*# sourceMappingURL=style.css.map */